%table.table
  %thead
    %tr
      %th Numer lotu
      %th Data lotu
      %th 
  %tbody
  - @flights.each do |flight|
    %tr
      %td
        AK 
        = flight.id
      %td= flight.created_at
      %td= link_to "Szczegóły", flight